*{
	margin :0px;
	padding: 0px 
}


body{

	font-size: 13px; 
	font-family: Arial, Helvetica, sans-serif; 
}

.section{

		width: 100%; 
		display: flex; 
		flex-direction:column;
		align-items:center;
		/*border:1px solid red ;*/
}



.div-header{
	width:80%; 
	height: 100px ; 

	margin-top: 5%;
	display: flex ; 
	justify-content: space-around;

}


.div-nav{

	width: 80%; 
	height: 50px;
	margin-top: 2%;
	display: flex ; 
	flex-wrap: wrap; 
}



/*Css list */

ul{

	width: 100%; 
	display: flex ; 
	margin: 0px; 
	padding: 0px; 
	list-style: none ;

	background:#DCDCDC;
	border-radius: 5px;  

}


li a{

	text-decoration:none; 
	color: black; 

	
}



ul li{

    display: flex ; 
    flex-wrap: wrap; 
    justify-content:center;
    align-items:center;  
	flex-grow: 1 ; 
}


/*
ul li:hover{
	background: rgba(0,0,0,0.3);
}*/



.flecha{

	width:0px;
	height:0px;  


	border-top: 25px solid white; 
	border-right: -20px solid blue ; 
	border-bottom: 25px solid white;
	border-left: 8px solid #DCDCDC;  /*reducir */
}







.nav-list-item-1{

	width: 0px;
    height: 0px;

    display: flex ; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;  
	flex-grow: 1 ; 
}

.nav-list-item-2{



	width: 0px; 
	height: 0px; 

    display: flex ; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;  
	flex-grow: 1 ; 


	border-top: 25px solid #DCDCDC; 
    border-bottom: 25px solid #DCDCDC;
    border-left: 8px solid white; /*redudir*/

}





.nav-list-item-3{

	width: 0px; 
	height: 0px; 


    display: flex ; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;  
	flex-grow: 1; 

 	
	border-top: 25px solid #DCDCDC; 
    border-bottom: 25px solid #DCDCDC;
    border-left: 8px solid white; /*redudir*/



}



.nav-list-item-4{
	width: 0px;
    height: 0px;


    display: flex ; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;  
	flex-grow: 1 ; 


	border-top: 25px solid #DCDCDC; 
    border-bottom: 25px solid #DCDCDC;
    border-left: 8px solid white; /*redudir*/

}



.nav-list-li-dernier{ 
	
	width: 0px;
    height: 0px;

    display: flex ; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;  
	flex-grow: 1 ; 

	border-top: 25px solid #FF8C00; 
    border-bottom: 25px solid #FF8C00;
    border-left: 8px solid white; /*redudir*/
    border-radius: 0px 5px 5px 0px;
}




.div-form{

	width: 80%; 
	margin-top: 2%; 
	display:flex;  
	flex-wrap:wrap;
	flex-direction:column; 
}


.div-form-item{
	font-size: 10px; 
}

.div-form-item-2{
	color: #483D8B; 
}


.div-form-item-3{
	color: #483D8B; 
}


.div-form-item-4{
	color: #483D8B; 
}



.div-option-item-6{
	font-size: 10px; 
	margin-left: 20%; 
}


.div-option{
	width: 80%; 
	margin-top: 3%;
	display: flex ;
	flex-direction:column;
	flex-wrap: wrap ; 
}





.div-option-item-7{	
	display: flex; 

}

.sips_customer_return_button{
	margin-left: 20%; 
	margin-right: 10%; 
}

.div-option-item-1{
	float: left;
	margin-right: 10px; 
}


.div-option-Ncarte{

	margin-bottom: 5px; 
}

.div-optionExpire{
	margin-bottom: 5px; 
}


.espacio{

	width:0px; 
	height: 0px; 

	margin: auto; 
	padding:10px; 

	border-top: 10px solid white ; 
	border-left: 10px solid #DCDCDC; 
	border-bottom: 10px solid white ; 
	border-right: 10px solid white; 
}


@media(max-width: 768px){

	body{

		font-size: 8px; 
	}



.div-option-item-1{
	float: none; 
	margin-right: 0px; 
}

.div-header-img1{

	width:250px;
	height: 100px;  


}


.div-header-img2{

	width: 50px; 
	height: 50px; 
}








}

