*{
margin: 0px; 
}

body{

	width: 100%;
	/*border:1px solid red ;*/
	position: absolute;
	font-family: ; 
	font-size:10px; 
	font-style:Times New Roman; 
	font-variant: 
	font-weight: ; 
	display:flex;
}


.section-one{

	width: 50%; 
	position: relative;

	padding: 5px; 
	border:1px solid black ;
}



.header{
	width: 100%;
	/*border: 1px solid red ; */
	display: flex; 
}

	

		.header-one{

			width: 80%; 
			padding: 10px; 
		}
			.header-tree{
				padding: 10px ; 
				text-align: center ; 
				border: 1px solid black; 
	
			}

.title{

	margin-bottom: 10px; 
	margin-top: 5px; 
	/*border: 1px solid blue ; */
	display: flex ; 
}

		.title-chmap{
			width: 60%; 
			margin-left: 15%; 
			padding: 10px; 
			text-align: center ; 
			border: 1px solid black; 
		}

		.title-img{
			margin:0px; 
		}



.article{

	width: 70%; 
	position: relative;
	margin-left:15%; 
	padding: 5px; 
	border: 1px solid black; 
}


		.article-div-expediteur{
			margin-left: 30%; 
		}

		.article-expediteur-7{
			width: 40%; 
			border: 1px solid black; 
			padding: 10px; 
			text-align: center; 
		}


		.article-div-destinataire{
			margin-left: 30%;
		}

		.article-div-code{
			width:20%; 
			margin-left: 70%; 
			border: 1px solid black; 
			padding: 15px; 
		}

.article-div-agence{
	margin-left: 30%; 
}


.div-br{
	width:60%; 
	margin-left:10%; 
	display: flex ; 
}


.br{

	width: 50%; 
	position: relative; 

	/*border-bottom: 1px black dashed; */

}

.br-txt{

	position: relative;
	text-align: center;
	
}



.article-two{

	width: 70%; 
	position: relative;
	margin-top: 10px; 
	margin-left:15%; 
	padding: 5px; 
	border: 1px solid black; 
}

.section-one{

	margin:10px; 
	
}

.title-dos{
	margin-top: 10px;  
	margin-left:15%; 
	/*border: 1px solid blue ; */
	display: flex;

}



.title-chmap-dos{

			width: 60%; 
			margin-left: 15%; 
			padding: 10px; 
			text-align: center ; 
			border: 1px solid black; 

}

.article-div-expediteur-dos{
	margin-left: 30%; 
}


.article-div-destinataire-dos{
	margin-left: 30%; 
}

.article-div-destinataire-tres{

	border:1px solid black;
}

